In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from scipy import stats
%matplotlib inline

from sklearn.metrics import classification_report, confusion_matrix

In [2]:
df = pd.read_csv("data/df_eda1.csv")

In [3]:
df.head()

,country,currency,deadline,launched_at,state,goal_usd,name_len,category,delta_dead_laun
0,US,USD,2019-03-14 06:02:55,2019-01-23 07:02:55,live,28000.0000,24,"""slug"":""fashion/footwear""",1199.0
1,US,USD,2017-09-09 19:00:59,2017-08-10 19:00:59,successful,1000.0000,23,"""slug"":""games/playing cards""",720.0
2,US,USD,2013-06-12 07:03:15,2013-05-13 07:03:15,successful,15000.0000,51,"""slug"":""music/rock""",720.0
3,GB,GBP,2017-03-13 18:22:56,2017-01-12 19:22:56,failed,13083.9361,34,"""slug"":""games/playing cards""",1439.0
4,US,USD,2013-01-09 21:32:07,2012-12-10 21:32:07,successful,2800.0000,40,"""slug"":""publishing/nonfiction""",720.0

In [53]:
cats = df['category']

In [54]:
cats = cats.str.strip('"slug')

In [55]:
cats = cats.str.strip(':"')

In [60]:
cats

0               fashion/footwear
1             games/playing card
2                     music/rock
3             games/playing card
4          publishing/nonfiction
                   ...
209217       games/tabletop game
209218    music/electronic music
209219       technology/hardware
209220      film & video/festiva
209221                journalism
Name: category, Length: 209222, dtype: object

In [66]:
cats = cats.str.split("/").str[0]

In [67]:
cats.unique()

array(['fashion', 'games', 'music', 'publishing', 'theater', 'food',
       'art', 'photography', 'technology', 'dance', 'design',
       'film & video', 'crafts', 'comics', 'comic', 'craft', 'journalism',
       'publishin', 'game'], dtype=object)