In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

from sklearn.metrics import classification_report, confusion_matrix

In [4]:
df = pd.read_csv("data/df_eda1.csv")

In [5]:
df.head()

,country,currency,deadline,launched_at,state,goal_usd,name_len,category,delta_dead_laun
0,US,USD,2019-03-14 06:02:55,2019-01-23 07:02:55,live,28000.0000,24,"""slug"":""fashion/footwear""",1199.0
1,US,USD,2017-09-09 19:00:59,2017-08-10 19:00:59,successful,1000.0000,23,"""slug"":""games/playing cards""",720.0
2,US,USD,2013-06-12 07:03:15,2013-05-13 07:03:15,successful,15000.0000,51,"""slug"":""music/rock""",720.0
3,GB,GBP,2017-03-13 18:22:56,2017-01-12 19:22:56,failed,13083.9361,34,"""slug"":""games/playing cards""",1439.0
4,US,USD,2013-01-09 21:32:07,2012-12-10 21:32:07,successful,2800.0000,40,"""slug"":""publishing/nonfiction""",720.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   country          209222 non-null  object
 1   currency         209222 non-null  object
 2   deadline         209222 non-null  object
 3   launched_at      209222 non-null  object
 4   state            209222 non-null  object
 5   goal_usd         209222 non-null  float64
 6   name_len         209222 non-null  int64
 7   category         209222 non-null  object
 8   delta_dead_laun  209222 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 14.4+ MB

In [12]:
launched_day = pd.to_datetime(df['launched_at']).dt.day_of_week

In [13]:
launched_hour = pd.to_datetime(df['launched_at']).dt.hour